
.media
{
  position: relative;
}
.add-to-list 
{
  font-size: 2em;
  position: absolute;
  top:0;
  right:0;
  color: #DDDDDD; 
}
.add-to-list .fa {
  margin-left: 1em;
  cursor: pointer;
}

.added-to-favourite 
{
  color:#B8449B;
}
.added-to-watchlist 
{
  color:#B8449B;
}
.add-to-favourites:hover
{
  color: #B8449B;
}
.add-to-watchlist:hover
{
 color: #E1D937;
}