.media {
  background:#000000;
  height: 100%; 
}
.media-body {
  position: relative;
  background: #ffffff;
  color: #222222; 
  height: 100%;
}
.media-body p {
  background: #ffffff;
}
.media-body h3 {
  font-size: 1.3rem;
}
.add-to-list 
{
  font-size: 2em;
  position: absolute;
  top:0;
  right:0;
  color: #DDDDDD; 
}
.add-to-list .fa {
  margin-right: 0.25em;
  cursor: pointer;
}

