body {
  background: #222;
  padding-top: 4em;
}

.row {
  margin-bottom: 2em;
}
.container {
  margin:0;
  margin-left:10%;
  max-width: 80%;
}
.btn-primary {
  background: #B8449B;
  border: none;
}
.btn-primary:hover {
  background: #88126A;
}



/* TYPOGRAPHY */

h1,h2,h3
{
  color: #77D64F;
}
h1.start-heading 
{
  font-family: 'Creepster', cursive;
  font-size: 4em;

}

