body {
  background: #222;
  padding-top: 4em;
}

.row {
  margin-bottom: 2em;
}
.container {
  background: #e1e1e1;
  padding: 3em;
}


/* TYPOGRAPHY */
h1.start-heading 
{
  font-family: 'Creepster', cursive;
  font-size: 4em;
  color: #740426;
}

