body {
  background: #222;
}
.container {
  margin:0;
  margin-left:10%;
  max-width: 80%;
}
.btn-primary {
  background: #B8449B;
  border: none;
}
.btn-primary:hover {
  background: #88126A;
}
@media only screen and (max-width: 990px) {
  body {
    padding-top: 1em;
  }
  .container {
    margin:0;
    margin-left:0;
    max-width: 100%;
  }
}